@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* --background-new: 0 0% 100%;
        --foreground-new: 224 71.4% 4.1%;

        --card-new: 0 0% 100%;
        --card-foreground-new: 224 71.4% 4.1%;

        --popover-new: 0 0% 100%;
        --popover-foreground-new: 224 71.4% 4.1%;

        --primary-new: 220.9 39.3% 11%;
        --primary-foreground-new: 210 20% 98%;

        --secondary-new: 220 14.3% 95.9%;
        --secondary-foreground-new: 220.9 39.3% 11%;

        --muted-new: 220 14.3% 95.9%;
        --muted-foreground-new: 220 8.9% 46.1%;

        --accent-new: 220 14.3% 95.9%;
        --accent-foreground-new: 220.9 39.3% 11%;

        --destructive-new: 0 84.2% 60.2%;
        --destructive-foreground-new: 210 20% 98%;

        --input-new: 220 13% 91%;
        --ring-new: 224 71.4% 4.1%;
        --bg-primary-new-new: #4a4a4f;
        --bg-accent-new-new: #333337; */
        --border: #2f3034;
        --radius: 0.5rem;
    }

    .dark {
        --background-new: 224 71.4% 4.1%;
        --foreground-new: 210 20% 98%;

        --card-new: 224 71.4% 4.1%;
        --card-foreground-new: 210 20% 98%;

        --popover-new: 224 71.4% 4.1%;
        --popover-foreground-new: 210 20% 98%;

        --primary-new: 210 20% 98%;
        --primary-foreground-new: 220.9 39.3% 11%;

        --secondary-new: 215 27.9% 16.9%;
        --secondary-foreground-new: 210 20% 98%;

        --muted-new: 215 27.9% 16.9%;
        --muted-foreground-new: 217.9 10.6% 64.9%;

        --accent-new: 215 27.9% 16.9%;
        --accent-foreground-new: 210 20% 98%;

        --destructive-new: 0 62.8% 30.6%;
        --destructive-foreground-new: 210 20% 98%;

        --border-new: 215 27.9% 16.9%;
        --input-new: 215 27.9% 16.9%;
        --ring-new: 216 12.2% 83.9%;
    }
}

@layer utilities {
    .advance-card-ar {
        aspect-ratio-new: 2/1;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    * {
        @apply border-border;
    }

    .dropdown-item {
        @apply text-white font-bold hover:bg-[#333238] flex items-center;
    }

    .globle-bg {
        @apply bg-[#171717];
    }

    .soft-bg {
        @apply bg-[#666974] border border-[#969696];
    }

    .soft-bg-border {
        @apply border border-[#969696];
    }

    .option-hover {
        @apply hover:bg-[#616876];
    }

    .soft-bg-hover {
        @apply hover:bg-[#2f3034] transition-all;
    }

    .softer-bg {
        @apply bg-[#434447];
    }

    .softer-bg-hover {
        @apply hover:bg-[#333337] transition-all;
    }

    .globle-btn {
        @apply bg-[#004a77];
    }

    .delete-btn {
        @apply hover:bg-red-400 flex items-center gap-1 justify-center hover:text-white w-full text-red-400 px-2 py-1 rounded-full;
    }

    .temp-bg {
        @apply bg-[#1f1e24];
    }

    .temp-card-bg {
        @apply bg-[#333238];
    }
    .temp-card-bg-2 {
        @apply bg-[#1f1e24];
    }
}
.loader-new {
    height: 40px;
    aspect-ratio: 1.5;
    display: grid;
}
.loader-new:before,
.loader-new:after {
    content: "";
    background: #fff;
    border-radius: 80px 80px 0 0;
    animation: l10 1s infinite alternate both;
}
.loader-new:after {
    transform: scale(-1);
    animation-delay: 0.2s;
}
@keyframes l10 {
    0%,
    10% {
        margin-inline: 0 33%;
    }
    50% {
        margin-inline: 0 0;
    }
    90%,
    100% {
        margin-inline: 33% 0;
    }
}
